/*
Override variable defaults
==================================================
This file is used to override default SCSS variables from the Shopware Storefront or Bootstrap.

Because of the !default flags, theme variable overrides have to be declared beforehand.
https://getbootstrap.com/docs/4.0/getting-started/theming/#variable-defaults
*/

.table-striped tbody tr:nth-of-type(odd) {
    background: $sw-background-color;
}

.dropdown-menu{
    background: $sw-color-brand-secondary;
}

.content-main {
    .btn {
        border-radius: unset;
        color: $sw-text-color;

        &.btn-light {
            background: $sw-color-brand-secondary;
        }
    }

    .btn.disabled, .btn:disabled, .btn-buy.disabled, .btn-buy:disabled {
        background: lighten($sw-color-brand-secondary, 20%);
        color: $sw-background-color-secondary;
        border-color: darken($sw-color-brand-secondary, 20%);

        .icon {
            color: $sw-background-color-secondary;
        }
    }
}

.icon {
    color: $sw-text-color;
}

hr {
    border-color: $white;
}



