/*
Override variable defaults
==================================================
This file is used to override default SCSS variables from the Shopware Storefront or Bootstrap.

Because of the !default flags, theme variable overrides have to be declared beforehand.
https://getbootstrap.com/docs/4.0/getting-started/theming/#variable-defaults
*/

.table-striped tbody tr:nth-of-type(odd) {
    background: $sw-background-color;
}

.dropdown-menu {
    background: $sw-color-brand-secondary;
}

.icon {
    color: $sw-text-color;
}

hr {
    border-color: $white;
}
