.header {
    &-main,
    &-minimal {
        background-color: $sw-background-color-secondary;

        .header-logo-picture img {
            width: 100%;
            max-height: 3.75rem;
        }
    }

    &-search-btn {
        background: unset;
        border-radius: unset;
    }
}
