.navigation-flyout {
    background-color: $sw-background-color-secondary;

    &-link {
        color: $sw-text-color;
    }

    &-categories.is-level-0 > .navigation-flyout-col {
        &:before,
        &:after {
            content: unset;
        }
    }
}
