{% sw_extends '@Storefront/storefront/utilities/offcanvas.html.twig' %}

{% block utilities_offcanvas_close %}
    <button class="btn btn-secondary offcanvas-close js-offcanvas-close{% if not feature('v6.5.0.0') %} btn-block sticky-top{% endif %}">
        {{ block('utilities_offcanvas_close_icon') }}
        {{ block('utilities_offcanvas_close_text') }}
    </button>
{% endblock %}
